<div class="report-container">
    <div class="header">
      <div class="header-left">
        <!-- <h2>Reporte</h2> -->
        <input
          type="text"
          placeholder="Buscar..."
          class="search-input"
          [(ngModel)]="searchTerm"
          (input)="filterTable()"
        />
      </div>
    </div>
    <app-modal-error [message]="alertMessage" [visible]="isVisible" [icon]="icon"></app-modal-error>
  
    <table class="table table-hover styled-table">
      <thead>
          <tr>
              <th><input type="checkbox" (change)="toggleSelectAll()" /></th>
              <th>N° Identificación</th>
              <th>Nombre</th>
              <th>Correo Institucional</th>
              <th>Sede</th>
              <!-- <th>Fecha Ingreso</th>
              <th>Fecha Terminación</th> -->
              <th>Facultad</th>
              <th>Programa</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of filteredItems" [class.selected-row]="item.selected" (click)="abrirDetalle(item)">
              <td><input type="checkbox" [(ngModel)]="item.selected" (click)="$event.stopPropagation()" /></td>
              <td>{{ item.identificacion }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.sede }}</td>
              <!-- <td>{{ item.fechaIngreso | date: 'dd/MM/yyyy' }}</td>
              <td>{{ item.fechaTerminacion | date: 'dd/MM/yyyy' }}</td> -->
              <td>{{ item.facultad }}</td>
              <td>{{ item.programa }}</td>
          </tr>
      </tbody>
  </table>
  
    <div class="footer">
      <div class="footer-buttons">
        <button class="icon-button" (click)="descargarExcel()">📥</button>
        <button class="icon-button" (click)="openModal()">✉️</button>
      </div>
      <div class="pagination">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
    </div>
  </div>

  <!-- Modal para Enviar Correo -->
<div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Enviar Correo</h2>
      <div *ngIf="getSelectedUsers().length > 0">
        <h4>Enviar a:</h4>
        <ul>
          <li *ngFor="let usuario of getSelectedUsers()">
            {{ usuario.email }}
          </li>
        </ul>
      </div>
      <div *ngIf="getSelectedUsers().length === 0">
        <p>No hay usuarios seleccionados.</p>
      </div>
      <form>
        <div class="form-group">
          <label for="asunto">Asunto:</label>
          <input type="text" id="asunto" [(ngModel)]="asunto" name="asunto" placeholder="Escribe el asunto">
        </div>
  
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea class="desc" id="descripcion" [(ngModel)]="descripcion" name="descripcion" placeholder="Escribe la descripción"></textarea>
        </div>
  
        <div class="form-group">
          <label for="archivo">Adjuntar Archivos:</label>
          <input type="file" (change)="onFileSelected($event)" multiple accept=".pdf,.doc,.docx,.xls,.xlsx,.png,.jpg,.jpeg">
        </div>
  
        <button type="button" class="button-modal" (click)="enviarCorreo()">Enviar</button>
      </form>
    </div>
  </div>
  <div *ngIf="isDetailModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerrarDetalle()">&times;</span>
      <h2>Detalle del Egresado</h2>
  
      <div class="carousel-container">
        <div
          class="carousel-slide"
          [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
        >
          <!-- Slide 1: Información básica -->
          <div class="slide">
            <h3>Información Básica</h3>
            <p><strong>N° Identificación:</strong> {{ egresadoConsultado?.noIdentificacion }}</p>
            <p><strong>Nombre:</strong> {{ egresadoSeleccionado?.name }}</p>
            <p><strong>Fecha Nacimiento:</strong> {{ egresadoConsultado?.fechaNacimiento }}</p>
            <p><strong>Edad:</strong> {{ egresadoConsultado?.edad }}</p>
            <p><strong>Correo:</strong> {{ egresadoConsultado?.email }}</p>
            <p><strong>Correo Institucional:</strong> {{ egresadoSeleccionado?.email }}</p>
            <p><strong>Telfono:</strong> {{ egresadoConsultado?.telefono }}</p>
            <p><strong>Ciudad Recidencia:</strong> {{ egresadoConsultado?.ciudadRecidencia }}</p>
            <p><strong>Direccion Recidencia:</strong> {{ egresadoConsultado?.direccionRecidencia }}</p>
          </div>
  
          <!-- Slide 2: Información Académica -->
          <div class="slide">
            <h3>Información Académica</h3>
            <p><strong>Sede:</strong> {{ egresadoSeleccionado?.sede }}</p>
            <p><strong>Facultad:</strong> {{ egresadoSeleccionado?.facultad }}</p>
            <p><strong>Programa:</strong> {{ egresadoSeleccionado?.programa }}</p>
            <p><strong>Ultimo Semestre:</strong> {{ egresadoConsultado?.ultimoSemestre }}</p>
            <p><strong>Fecha de Grado:</strong> {{ egresadoConsultado?.fechaGrado }}</p>
            <p><strong>Calificacion Obetnida:</strong> {{ egresadoConsultado?.calificacionObtenida }}</p>
            <p><strong>Titulo de Obetnido:</strong> {{ egresadoConsultado?.tituloObtenido }}</p>
            <p><strong>Ultimo Nivel de Formacion:</strong> {{ egresadoConsultado?.ultimoNivelFormacion }}</p>
            <p><strong>Modalidad de Grado:</strong> {{ egresadoConsultado?.modalidad }}</p>
            <p><strong>Titulo del Trabajo:</strong> {{ egresadoConsultado?.tituloTrabajoGrado }}</p>
          </div>
  
          <!-- Slide 3: Fechas -->
          <div class="slide">
            <h3>Datos Laborales</h3>
            <p><strong>Trabaja Actualmente:</strong> {{ egresadoConsultado?.labora }}</p>
            <p><strong>Es relacionado a la Formacion:</strong> {{ egresadoConsultado?.relacionFormacion }}</p>
            <p><strong>Rol que Ejecuta:</strong> {{ egresadoConsultado?.rolEjecuta }}</p>
            <p><strong>Actividad que Ejecuta:</strong> {{ egresadoConsultado?.actividadEjecuta }}</p>
            <p><strong>Tipo de Contrato:</strong> {{ egresadoConsultado?.tipoContrato }}</p>
            <p><strong>Nombre Empresa:</strong> {{ egresadoConsultado?.nombreEmpresa }}</p>
            <p><strong>Fecha de Ingreso:</strong> {{ egresadoSeleccionado?.fechaIngreso }}</p>
            <p><strong>Rango Salarial:</strong> {{ egresadoConsultado?.rangoSalarial }}</p>
            <p><strong>Modalidad de Trabajo:</strong> {{ egresadoConsultado?.modalidadTrabajo }}</p>
          </div>
        </div>
      </div>
  
      <!-- Controles -->
      <div class="carousel-controls">
        <button (click)="prevSlide()" [disabled]="currentSlide === 0">⬅️</button>
        <button (click)="nextSlide()" [disabled]="currentSlide === totalSlides - 1">➡️</button>
      </div>
    </div>
  </div>
  
  