<div class="container">
  <div class="main-content">
    <div class="cuestionario">
        <div class="cuest">
            <div class="cuest-left">
                <div class="form-group1">
                  <label for="nombre">Labora Actualmente<span class="required"> *</span></label>
                  <input type="checkbox" class="form-control" id="laboraActualmente" name="laboraActualmente" [(ngModel)]="datosFormulario3.progrlaboraActualmenteama">
                </div>
                <div class="form-group1">
                  <label for="nombre">Rol que ejecuta<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="rolEjecuta" name="rolEjecuta" [(ngModel)]="datosFormulario3.rolEjecuta">
                </div>
                <div class="form-group1">
                  <label for="nombre">Actividades que ejecuta<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="actividadEjecuta" name="actividadEjecuta" [(ngModel)]="datosFormulario3.actividadEjecuta">
                </div>
                <div class="form-group1">
                  <label for="nombre">Tipo de Contrato<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="tipoContrato" name="tipoContrato" [(ngModel)]="datosFormulario3.tipoContrato">
                </div>
                <div class="form-group1">
                  <label for="nombre">Ejecuta actividades relacionadas con <br>la Formacion en Curso o titulada<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="ejecutaActividad" name="ejecutaActividad" [(ngModel)]="datosFormulario3.ejecutaActividad">
                </div>
            </div>
            <div class="cuest-rigth">
                <div class="form-group1">
                  <label for="correo">Nombre de la Empresa<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" [(ngModel)]="datosFormulario3.nombreEmpresa">
                </div>
                <div class="form-group1">
                  <label for="correo">Fecha de Ingreso<span class="required"> *</span></label>
                  <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" [(ngModel)]="datosFormulario3.fechaIngreso">
                </div>
                <div class="form-group1">
                  <label for="correo">Rango Salario ?<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="rangoSalario" name="rangoSalario" [(ngModel)]="datosFormulario3.rangoSalario">
                </div>
                <div class="form-group1">
                  <label for="correo">Modalidad de Trabajo<span class="required"> *</span></label>
                  <input type="text" class="form-control" id="modalidadTrabajo" name="modalidadTrabajo" [(ngModel)]="datosFormulario3.modalidadTrabajo">
                </div>
            </div>
        </div>
    </div>
    <div class="datos-personales">
        <h3>Datos<br> Laborales</h3>
        <button (click)="anteriorFormulario()" class="btn-anterior">< Anterior</button>
        <button (click)="guardarDatos()" type="button" class="btn btn-seleccionar btn-guardar">
          <i class="fa fa-lock"></i> Guardar
        </button>
    </div>
  </div>
</div>
