.news-publisher {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
  padding: 20px;
}

.register-group {
  max-width: 100%;
}

.form-container {
  flex: 3;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  min-height: 60px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]{
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  display: block;
}

.publish-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.publish-btn:hover {
  background-color: darkgreen;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1F8943;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1F8943;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.news-sidebar {
  width: 20%;
  padding: 10px;
}

.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.news-title {
  margin: 0;
  font-weight: bold;
}

.inputContenido{
    height: 200px;
}

/* Estilos generales */
form {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: auto;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
textarea,
input[type="email"],
input[type="file"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

/* Estilo hover y focus para inputs */
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="date"]:focus {
  border-color: #66afe9;
  outline: none;
  background-color: #fff;
}

/* Estilo especial para el input de fecha */
input[type="date"] {
  max-width: 200px; /* Acortar el input de fecha */
}

textarea {
  height: 150px;
  resize: vertical;
}

/* Botón de selección de archivo */
input[type="file"] {
  cursor: pointer;
}

/* Estilo de los botones */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Estilo para etiquetas obligatorias */
label[for]:after {
  content: ' *';
  color: red;
}

/* Ajustes para la fecha y otros campos */
input[type="date"]::-webkit-calendar-picker-indicator {
  padding: 5px;
}