<div class="dashboard-container">
  <div class="top-section">
    <div class="charts-section">
      <!-- <div class="chart-filters">
        <button>Semestre II</button>
        <button>Semestre I</button>
        <button>Últimos 6 años</button>
      </div> -->
      <div class="chart-container">
          <canvas #myChart></canvas>
      </div>
    </div>
    
    <div class="side-section">
      <div class="updates-section">
        <div class="updates-header">
          <h3>Últimas Actualizaciones</h3>
        </div>
        <div class="update-item" *ngFor="let egresado of ultimosEgresadosList">
          <span>{{ egresado }}</span>
          <span>Hace un momento</span> <!-- Esto es un placeholder, puedes ajustar con datos reales si tienes tiempos específicos -->
        </div>
      </div>
      <div class="total-platform-box">
        <div class="total-info">
          <p>Total Egresados en Plataforma</p>
          <h2>{{ egresadosPitalito + egresadosNeiva}}</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bottom-section">
    <div class="total-box">
      <div class="total-info">
        <p>Total Egresado Pitalito</p>
        <h2>{{ egresadosPitalito }}</h2>
      </div>
    </div>
    <div class="total-box">
      <div class="total-info">
        <p>Total Egresados Neiva</p>
        <h2>{{ egresadosNeiva }}</h2>
      </div>
    </div>
  </div>
</div>
