<app-modal-error [message]="alertMessage" [visible]="isVisible" [icon]="icon"></app-modal-error>
<div class="news-container" *ngIf="isNoticias">
  <div class="news-card" *ngFor="let noticia of noticias">
    <img class="news-image" [src]="noticia.imagen" alt="Imagen de la noticia">
    <div class="news-content">
      <h2 class="news-title">{{ noticia.titulo }}</h2>
      <p class="news-description">{{ noticia.contenido }}</p>
      <button class="news-button" (click)="openModal(noticia)">Ver más</button>
    </div>
  </div>
</div>
<app-noticias-egresado-info *ngIf="isModalOpen"  [noticia]="selectedNoticia" (close)="closeModal()"></app-noticias-egresado-info>