<div class="modal-fade">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../../assets/img/icone-x.png">
        <h3>Digita el numero de tu documento de<br>identidad registrado en la plataforma, <br> y te enviaremos tu contraseña</h3>
      </div>
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Numero Identificación" required>
      </div>
      <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Enviar Contraseña</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="handleCloseClick()">Iniciar Sesión</button>
      </div>
      <img class="img-logo" src="../../../assets/img/corhuila.png">
      <button type="button" (click)="handleCloseClick()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>